@import url("fonts.css");

:root {
    --coder-background: #000;
    --coder-title: #8f3bae;
    --coder-body: #99b8c0;
    --coder-link: #00d0ff;
    --coder-visited: #00d0ff;
    /* --coder-visited: #825294; */
    --coder-borders: #009ec2;
    --coder-hover: #009ec2;
    --coder-active: #009ec2;
    --coder-headers: #cf68f5; /* 8f3bae is too dark */
    --coder-time: #6df1d8;
    --coder-address: #009ec2;
    --coder-category: #b8aec8;
    --coder-emphasis: #009ec2;
}

body {
    font-family: DejaVuSansMono;
    background: var(--coder-background);
    color: var(--coder-body);
}

article em {
    color: var(--coder-emphasis);
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* article img {
    max-width: 80%;
    text-align: center;
} */

.inline {
    max-width: 80%;
}
.inline-half {
    max-width: 40%;
}

.headshot {
    max-width: min(40%, 256px);
    height: auto;
}

.center {
    text-align: center;
}


.caption {
    font-style: italic;
}


.title {
    font-size: min(8vw, 64px);
    margin-bottom: 0px;
    margin-top: 0px;
    /* text-align: center; */
}

.logo {
    /* height: 512px; */
    /* width: 64px; */
    vertical-align: bottom;
    max-width: 95%;
    height: auto;
}

.float-right {
    float: right;
}

.cover {
    max-height: 256px;
    max-width: 100%;
    float: right;
    padding: 4px;
}

.thumbnail {
    max-height: 128px;
    max-width: 256px;
    float: right;
    padding: 4px;
}
nav {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
nav p {
    margin: 0px;
}

pre {
    background-color: #000;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 1px dashed var(--coder-borders);
    margin: 10px 0; padding: 0;
    max-width: 1000px;
}
header {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}
footer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header h1 a:visited {
    color: var(--coder-headers);
    /* text-align: center; */
}

a:link {
    color: var(--coder-link);
    text-decoration: none;
}

a:visited {
    color: var(--coder-visited);
    text-decoration: none;
}

a:hover {
    color: var(--coder-hover);
    text-decoration: none;
}

a:active {
    color: var(--coder-active);
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: var(--coder-headers);
}

time {
    color: var(--coder-time);
}

address {
    color: var(--coder-address);
}

.category {
    color: var(--coder-category);
}

.youtube-4x3 {
	padding-bottom: 75%;  /* inverse of 4:3 aspect ratio */
}
.youtube-16x9 {
	padding-bottom: 56.25%;  /* inverse of 16:9 aspect ratio */
}
.youtube-4x3,
.youtube-16x9 {
	position: relative;
	height: 0;
	overflow: hidden;
}
.youtube-4x3 iframe,
.youtube-16x9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
}

code {
    font-size: 18px;
    color: var(--coder-emphasis);
}

table, tr, td {
    border-collapse: collapse;
    border: 1px solid;
}


tr:nth-of-type(odd) {
    background-color:#111;
}
